.shadow-common-light {
	--tw-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.07);
	--tw-shadow-colored: 0 2px 15px 2px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
