$primary-color: #FF4C00;

.tagInputWrap {
  border-radius: 6px;
  min-height: 40px;
  padding: 5px 10px;
  border: 1px solid #f2f3f8;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:focus, &:active, &:hover, &.active {
    border-color: $primary-color;
  }

  &.active {
    box-shadow: 0 0 0 2px rgba(255, 76, 0, 0.1);
  }

  .tagName {
    margin: 4px;

    svg {
      fill: $primary-color;
    }
  }

  .tagInputHolder {
    color: #f2f3f8;
  }

  .tagInput {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    &:focus{
      outline: none;
      border: none;
    }
  }
}
