.detail {
	&__wrapper {
		padding: 16px;
		--tw-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
		--tw-shadow-colored: 0 2px 15px 2px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		font-family: 'Inter';
		.preview {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 20px auto;
		}
	}
	&__info {
		font-family: 'Inter';
		border: 1px solid #eee;
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		.item {
			text-align: center;
			p:nth-child(1) {
				color: blue;
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 10px;
			}
			p:nth-child(2) {
				font-size: 13px;
			}
		}
		&__bottom {
			padding: 20px 40px;
			.item__detail {
				margin-top: 10px;
				font-size: 14px;
				p:nth-child(1) {
					font-weight: bold;
				}
			}
		}
	}
}
