.filter {
	&__container {
		font-family: "Inter" !important;

		padding: 10px;
		border-radius: 10px;
	}
	&__item {
		border-top: 1px solid #eee;
		padding: 10px 0px;
		align-items: center;
		&__title {
			width: 150px;
			font-size: 14px;
			font-weight: 500;
		}
		&__right {
			width: 95%;
		}
	}
}
